@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

body {
    font-family: Poppins;
}

.table-sent {
    background-color: #FFD4A1;
}
.table-waiting {
    background-color: #CEE8FE;
}

.legend {
    --s:50px;
    position:relative;
    text-align:center;
    label {
        width: var(--s);
        margin-right: calc(var(--s)/2);
    }
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    --s:50px;
    padding-bottom: 20px;
    background: silver;
    label {
      display: inline-block;
      width: var(--s);
      height: var(--s);
      background: url(/img/star.svg) no-repeat 0 0;
      background-size: var(--s) var(--s);
      font-size: 0;
      cursor: pointer;
      margin-right: calc(var(--s)/2);
    }
  
    input {
        display: none;  
        &:checked {
            + label, ~ input + label {
                background-image: url(/img/star-selected.svg);
            }
        }
        &:hover {
            + label, ~ input + label {
                background-image: url(/img/star-hover.svg);
            }
        }
    }
  }

.form-dynamic {
    position: relative;
}

.question {
    position: absolute;
    width: 100%;
}

#part2, #part3, #part4, #part5, #part6 {
    visibility: hidden;
}

.progress {
    margin-bottom: 50px;
}

#incidence {
    margin-top: 50px;
    visibility: hidden;
    width: 100%;
}

.btn-rounded {
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }